spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  application:
    name: Planista
server:
  error:
    include-message: always
    include-binding-errors: always
  port: ${APP_PORT:8080}

app:
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:http://localhost:5173}
    allowed-methods: ${APP_CORS_ALLOWED_METHODS:GET,POST,PUT,DELETE,OPTIONS}
    allowed-headers: ${APP_CORS_ALLOWED_HEADERS:*}
    allow-credentials: ${APP_CORS_ALLOW_CREDENTIALS:true}
  jwt:
    secret: ${JWT_SECRET}
    access-expiration: ${JWT_EXP_ACCESS}
    refresh-expiration: ${JWT_EXP_REFRESH}